.parent {
    display: flex;
    flex-direction: row;
    /* for the background color*/
    background: white;
    justify-content: space-evenly;
    height: 50vh;
    align-items: center;

    /* add solution here */
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
}
