ul {
    display:inline-flex;
    justify-content: center;
    list-style: none;
    width: 75vw;
    flex-basis: 200px;

    /* add solution here */
}

li {
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 173, 41);
    align-self: center;
    /*flex-basis: 200px ;*/
    height: 200px;
    width: 140vw;
    /* add solution here.. */

}