ul {
    display: flex;
    flex: 1;
    list-style: none;
    width: 75rem;
    

    /* add solution here */
}

li {
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 173, 41);
    align-items: center;
    /* add solution here.. */

}